# Sparkify Project Workspace
This workspace contains a tiny subset (128MB) of the full dataset available (12GB). Feel free to use this workspace to build your project, or to explore a smaller subset with Spark before deploying your cluster on the cloud. Instructions for setting up your Spark cluster is included in the last lesson of the Extracurricular Spark Course content.

You can follow the steps below to guide your data analysis and model building portion of this project.

In [1]:
# Imports
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import col,count, desc
from pyspark.sql import Window
from pyspark.sql.functions import sum as Fsum

import datetime
import numpy as np
import pandas as pd

In [2]:
# create a Spark session
spark = SparkSession \
    .builder \
    .appName("Sparkify subset") \
    .getOrCreate()

# Load and Clean Dataset
In this workspace, the mini-dataset file is `mini_sparkify_event_data.json`. Load and clean the dataset, checking for invalid or missing data - for example, records without userids or sessionids.

In [3]:
# read in sample data
df = spark.read.json("mini_sparkify_event_data.json")

# Exploratory Data Analysis
When you're working with the full dataset, perform EDA by loading a small subset of the data and doing basic manipulations within Spark. In this workspace, you are already provided a small subset of data you can explore.

### Define Churn

Once you've done some preliminary analysis, create a column `Churn` to use as the label for your model. I suggest using the `Cancellation Confirmation` events to define your churn, which happen for both paid and free users. As a bonus task, you can also look into the `Downgrade` events.

### Explore Data
Once you've defined churn, perform some exploratory data analysis to observe the behavior for users who stayed vs users who churned. You can start by exploring aggregates on these two groups of users, observing how much of a specific action they experienced per a certain time unit or number of songs played.

### Gain understanding of dataset

We start by looking at some general dataset information to get a feel for what the dataset looks like

In [4]:
# investigate data schema
df.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: long (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [5]:
# look at a record
df.take(1)

[Row(artist='Martha Tilston', auth='Logged In', firstName='Colin', gender='M', itemInSession=50, lastName='Freeman', length=277.89016, level='paid', location='Bakersfield, CA', method='PUT', page='NextSong', registration=1538173362000, sessionId=29, song='Rockpools', status=200, ts=1538352117000, userAgent='Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0', userId='30')]

In [6]:
# total number of records
df.count()

286500

In [7]:
# Distribution of pages visited
df.groupBy("page").count().collect()

[Row(page='Cancel', count=52),
 Row(page='Submit Downgrade', count=63),
 Row(page='Thumbs Down', count=2546),
 Row(page='Home', count=14457),
 Row(page='Downgrade', count=2055),
 Row(page='Roll Advert', count=3933),
 Row(page='Logout', count=3226),
 Row(page='Save Settings', count=310),
 Row(page='Cancellation Confirmation', count=52),
 Row(page='About', count=924),
 Row(page='Submit Registration', count=5),
 Row(page='Settings', count=1514),
 Row(page='Login', count=3241),
 Row(page='Register', count=18),
 Row(page='Add to Playlist', count=6526),
 Row(page='Add Friend', count=4277),
 Row(page='NextSong', count=228108),
 Row(page='Thumbs Up', count=12551),
 Row(page='Help', count=1726),
 Row(page='Upgrade', count=499),
 Row(page='Error', count=258),
 Row(page='Submit Upgrade', count=159)]

In [8]:
# total number of users
df.select("userId").dropDuplicates().count()

226

In [9]:
# Number of users going to each page
df.select("userId","page").dropDuplicates().groupBy("page").agg({"userID":"count"}).collect()

[Row(page='Cancel', count(userID)=52),
 Row(page='Submit Downgrade', count(userID)=49),
 Row(page='Thumbs Down', count(userID)=203),
 Row(page='Home', count(userID)=224),
 Row(page='Downgrade', count(userID)=154),
 Row(page='Roll Advert', count(userID)=207),
 Row(page='Logout', count(userID)=213),
 Row(page='Save Settings', count(userID)=132),
 Row(page='Cancellation Confirmation', count(userID)=52),
 Row(page='About', count(userID)=156),
 Row(page='Submit Registration', count(userID)=1),
 Row(page='Settings', count(userID)=195),
 Row(page='Login', count(userID)=1),
 Row(page='Register', count(userID)=1),
 Row(page='Add to Playlist', count(userID)=215),
 Row(page='Add Friend', count(userID)=206),
 Row(page='NextSong', count(userID)=225),
 Row(page='Thumbs Up', count(userID)=220),
 Row(page='Help', count(userID)=193),
 Row(page='Upgrade', count(userID)=168),
 Row(page='Error', count(userID)=118),
 Row(page='Submit Upgrade', count(userID)=131)]

In [10]:
# convert ts to months and days
get_month = udf(lambda x: datetime.datetime.fromtimestamp(x / 1000.0). month)
df = df.withColumn("month", get_month(df.ts))
get_day = udf(lambda x: datetime.datetime.fromtimestamp(x / 1000.0). day)
df = df.withColumn("day", get_day(df.ts))

In [11]:
# look at data time range
df.select('month','day').distinct().orderBy('month','day').collect()

[Row(month='10', day='1'),
 Row(month='10', day='10'),
 Row(month='10', day='11'),
 Row(month='10', day='12'),
 Row(month='10', day='13'),
 Row(month='10', day='14'),
 Row(month='10', day='15'),
 Row(month='10', day='16'),
 Row(month='10', day='17'),
 Row(month='10', day='18'),
 Row(month='10', day='19'),
 Row(month='10', day='2'),
 Row(month='10', day='20'),
 Row(month='10', day='21'),
 Row(month='10', day='22'),
 Row(month='10', day='23'),
 Row(month='10', day='24'),
 Row(month='10', day='25'),
 Row(month='10', day='26'),
 Row(month='10', day='27'),
 Row(month='10', day='28'),
 Row(month='10', day='29'),
 Row(month='10', day='3'),
 Row(month='10', day='30'),
 Row(month='10', day='31'),
 Row(month='10', day='4'),
 Row(month='10', day='5'),
 Row(month='10', day='6'),
 Row(month='10', day='7'),
 Row(month='10', day='8'),
 Row(month='10', day='9'),
 Row(month='11', day='1'),
 Row(month='11', day='10'),
 Row(month='11', day='11'),
 Row(month='11', day='12'),
 Row(month='11', day='13'),
 Row(month='11', day='14'),
 Row(month='11', day='15'),
 Row(month='11', day='16'),
 Row(month='11', day='17'),
 Row(month='11', day='18'),
 Row(month='11', day='19'),
 Row(month='11', day='2'),
 Row(month='11', day='20'),
 Row(month='11', day='21'),
 Row(month='11', day='22'),
 Row(month='11', day='23'),
 Row(month='11', day='24'),
 Row(month='11', day='25'),
 Row(month='11', day='26'),
 Row(month='11', day='27'),
 Row(month='11', day='28'),
 Row(month='11', day='29'),
 Row(month='11', day='3'),
 Row(month='11', day='30'),
 Row(month='11', day='4'),
 Row(month='11', day='5'),
 Row(month='11', day='6'),
 Row(month='11', day='7'),
 Row(month='11', day='8'),
 Row(month='11', day='9'),
 Row(month='12', day='1'),
 Row(month='12', day='3')]

### Define Churn

The goal for this analysis is to understand user churn.  For this study churn means that a user has confirmed cancellation of thier account (either paid or free account).  To help with future work we will identify the rows where churn transaction occurs (actions with page equal to 'Cancellation Confirmation').  Additionally for users with a churn action we will tag all of their actions with identification that they are a user with churn.

In [12]:
# create column churn to flag churn events
flag_churn = udf(lambda x: 1 if x=="Cancellation Confirmation" else 0, IntegerType())
df = df.withColumn("churn",flag_churn("page"))
df.filter(df.churn==1).count() # confirm count matches number above

52

In [13]:
# create column churn_user to identify users with a churn event
windowval = Window.partitionBy("userId")
df = df.withColumn("churn_user", Fsum("churn").over(windowval))

In [14]:
# find some users with a churn action for testing
df.select("userId").filter(df.page == "Cancellation Confirmation").dropDuplicates().take(5)

[Row(userId='125'),
 Row(userId='51'),
 Row(userId='54'),
 Row(userId='100014'),
 Row(userId='101')]

In [15]:
# check columns for user 125
df.filter(df.userId=='125').select('ts','page','churn','churn_user').orderBy('ts').show()

+-------------+--------------------+-----+----------+
|           ts|                page|churn|churn_user|
+-------------+--------------------+-----+----------+
|1539317144000|            NextSong|    0|         1|
|1539317481000|            NextSong|    0|         1|
|1539317711000|            NextSong|    0|         1|
|1539317914000|            NextSong|    0|         1|
|1539318124000|            NextSong|    0|         1|
|1539318515000|            NextSong|    0|         1|
|1539318728000|            NextSong|    0|         1|
|1539318906000|            NextSong|    0|         1|
|1539318917000|         Roll Advert|    0|         1|
|1539318918000|              Cancel|    0|         1|
|1539318918000|Cancellation Conf...|    1|         1|
+-------------+--------------------+-----+----------+

### Exploratory Data Analysis

Now that we have churn identified we can start to explore the behavior of users that churn vs those that do not.  This exploration will establish some intuition regarding the data and help us prepare for feature engineering.

In [42]:
df.filter(df.userId=='51').select('ts','month','day','level','page').sort(desc("ts")).collect()

[Row(ts=1539761972000, month='10', day='17', level='paid', page='Cancellation Confirmation'),
 Row(ts=1539761830000, month='10', day='17', level='paid', page='Cancel'),
 Row(ts=1539761829000, month='10', day='17', level='paid', page='Settings'),
 Row(ts=1539761726000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539761508000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539761269000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539761030000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539760849000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539760549000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539760052000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539759811000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539759645000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539759362000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539759213000, month='10', day='17', level='paid', page='Thumbs Up'),
 Row(ts=1539759212000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539759000000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539758750000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539758573000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539758314000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539757983000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539757733000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539757500000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539757144000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539756964000, month='10', day='17', level='paid', page='Thumbs Down'),
 Row(ts=1539756963000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539756719000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539756515000, month='10', day='17', level='paid', page='Home'),
 Row(ts=1539756514000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539756313000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539756054000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539755782000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539755522000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539755382000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539755157000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539754919000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539754689000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539754319000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539753814000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539753648000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539753499000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539753199000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539752986000, month='10', day='17', level='paid', page='Thumbs Up'),
 Row(ts=1539752985000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539752785000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539752512000, month='10', day='17', level='paid', page='Home'),
 Row(ts=1539752494000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539752203000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539751996000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539751754000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539751360000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539751140000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539750901000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539750683000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539750634000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539750375000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539750196000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539749975000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539749773000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539749534000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539749421000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539749220000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539749050000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539748842000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539748578000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539748334000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539748082000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539747830000, month='10', day='17', level='paid', page='Thumbs Up'),
 Row(ts=1539747829000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539747356000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539747231000, month='10', day='17', level='paid', page='Thumbs Up'),
 Row(ts=1539747230000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539746575000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539746365000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539746077000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539745579000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539745352000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539745143000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539744816000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539744559000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539744275000, month='10', day='17', level='paid', page='Thumbs Down'),
 Row(ts=1539744274000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539744065000, month='10', day='17', level='paid', page='Thumbs Up'),
 Row(ts=1539744064000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539743734000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539743535000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539743327000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539743098000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539742905000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539742587000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539742362000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539742064000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539741711000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539741344000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539741101000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539740720000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539740472000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539740240000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539740051000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539740049000, month='10', day='17', level='paid', page='Downgrade'),
 Row(ts=1539739785000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539739552000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539739263000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539738890000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539738667000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539738393000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539738175000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539737903000, month='10', day='17', level='paid', page='Thumbs Up'),
 Row(ts=1539737902000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539737638000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539737425000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539737272000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539736997000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539736647000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539736455000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539736203000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539735970000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539735831000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539735535000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539735281000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539735122000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539734834000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539734509000, month='10', day='17', level='paid', page='Thumbs Up'),
 Row(ts=1539734508000, month='10', day='17', level='paid', page='NextSong'),
 Row(ts=1539734302000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539734181000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539733972000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539733719000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539733598000, month='10', day='16', level='paid', page='Thumbs Up'),
 Row(ts=1539733597000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539733361000, month='10', day='16', level='paid', page='Thumbs Down'),
 Row(ts=1539733360000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539733171000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539732912000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539732691000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539732433000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539732204000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539731967000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539731852000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539731615000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539731344000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539731022000, month='10', day='16', level='paid', page='Add to Playlist'),
 Row(ts=1539730996000, month='10', day='16', level='paid', page='Thumbs Up'),
 Row(ts=1539730995000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539730794000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539730606000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539730341000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539730039000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539729913000, month='10', day='16', level='paid', page='Add to Playlist'),
 Row(ts=1539729894000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539729663000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539729447000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539729100000, month='10', day='16', level='paid', page='Thumbs Up'),
 Row(ts=1539729099000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539728851000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539728618000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539728418000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539728228000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539727887000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539727232000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539727002000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539726768000, month='10', day='16', level='paid', page='Thumbs Up'),
 Row(ts=1539726767000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539726647000, month='10', day='16', level='paid', page='Add to Playlist'),
 Row(ts=1539726636000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539726289000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539726162000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539725917000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539725635000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539725392000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539724902000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539724546000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539724279000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539724150000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539723899000, month='10', day='16', level='paid', page='Help'),
 Row(ts=1539723893000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539723628000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539723331000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539717535000, month='10', day='16', level='paid', page='Add Friend'),
 Row(ts=1539717534000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539717305000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539717036000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539716909000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539716726000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539716516000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539716331000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539716058000, month='10', day='16', level='paid', page='Thumbs Down'),
 Row(ts=1539716057000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539715758000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539715514000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539715275000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539715042000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539714787000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539714497000, month='10', day='16', level='paid', page='Help'),
 Row(ts=1539714495000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539714191000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539713850000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539713604000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539713433000, month='10', day='16', level='paid', page='Thumbs Up'),
 Row(ts=1539713432000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539713175000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539713010000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539712845000, month='10', day='16', level='paid', page='Thumbs Down'),
 Row(ts=1539712844000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539712189000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539711887000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539711654000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539711000000, month='10', day='16', level='paid', page='Thumbs Up'),
 Row(ts=1539710999000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539710776000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539710560000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539710229000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539710003000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539709769000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539708820000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539708312000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539708110000, month='10', day='16', level='paid', page='Downgrade'),
 Row(ts=1539708093000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539707856000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539707499000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539707084000, month='10', day='16', level='paid', page='Add to Playlist'),
 Row(ts=1539707039000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539707008000, month='10', day='16', level='paid', page='Help'),
 Row(ts=1539706836000, month='10', day='16', level='paid', page='Settings'),
 Row(ts=1539706826000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539706516000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539706315000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539706049000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539705759000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539705513000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539705248000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539704997000, month='10', day='16', level='paid', page='Home'),
 Row(ts=1539704909000, month='10', day='16', level='paid', page='Logout'),
 Row(ts=1539704908000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539704507000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539704205000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539703699000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539703462000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539703309000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539703081000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539702852000, month='10', day='16', level='paid', page='NextSong'),
 Row(ts=1539702752000, month='10', day='16', level='paid', page='Home'),
 Row(ts=1539639630000, month='10', day='15', level='paid', page='Home'),
 Row(ts=1539639444000, month='10', day='15', level='paid', page='NextSong'),
 Row(ts=1539639281000, month='10', day='15', level='paid', page='NextSong'),
 Row(ts=1539639097000, month='10', day='15', level='paid', page='Add to Playlist'),
 Row(ts=1539639044000, month='10', day='15', level='paid', page='NextSong'),
 Row(ts=1539638817000, month='10', day='15', level='paid', page='NextSong'),
 Row(ts=1539638615000, month='10', day='15', level='paid', page='NextSong'),
 Row(ts=1539638377000, month='10', day='15', level='paid', page='NextSong'),
 Row(ts=1539638165000, month='10', day='15', level='paid', page='NextSong'),
 Row(ts=1539637825000, month='10', day='15', level='paid', page='NextSong'),
 Row(ts=1539637663000, month='10', day='15', level='paid', page='NextSong'),
 Row(ts=1539637374000, month='10', day='15', level='paid', page='NextSong'),
 Row(ts=1539637142000, month='10', day='15', level='paid', page='NextSong'),
 Row(ts=1539636884000, month='10', day='15', level='paid', page='NextSong'),
 Row(ts=1539636636000, month='10', day='15', level='paid', page='NextSong'),
 Row(ts=1539636306000, month='10', day='15', level='paid', page='NextSong'),
 Row(ts=1539636086000, month='10', day='15', level='paid', page='NextSong'),
 Row(ts=1539635978000, month='10', day='15', level='paid', page='Thumbs Up'),

In [ ]:
# Number of users with free vs paid accounts
df.select("userId","page").dropDuplicates().groupBy("page").agg({"userID":"count"}).collect()

In [46]:
df.filter(df.userId=='51').select('ts','level','page').collect()

[Row(ts=1538398632000, level='paid', page='Home'),
 Row(ts=1538398649000, level='paid', page='NextSong'),
 Row(ts=1538398938000, level='paid', page='NextSong'),
 Row(ts=1538399167000, level='paid', page='NextSong'),
 Row(ts=1538399351000, level='paid', page='NextSong'),
 Row(ts=1538399495000, level='paid', page='NextSong'),
 Row(ts=1538399843000, level='paid', page='NextSong'),
 Row(ts=1538400086000, level='paid', page='NextSong'),
 Row(ts=1538400309000, level='paid', page='NextSong'),
 Row(ts=1538400621000, level='paid', page='NextSong'),
 Row(ts=1538400824000, level='paid', page='NextSong'),
 Row(ts=1538400891000, level='paid', page='Add to Playlist'),
 Row(ts=1538401249000, level='paid', page='NextSong'),
 Row(ts=1538401459000, level='paid', page='NextSong'),
 Row(ts=1538401460000, level='paid', page='Thumbs Down'),
 Row(ts=1538401688000, level='paid', page='NextSong'),
 Row(ts=1538401873000, level='paid', page='NextSong'),
 Row(ts=1538402170000, level='paid', page='NextSong'),
 Row(ts=1538402310000, level='paid', page='NextSong'),
 Row(ts=1538402574000, level='paid', page='NextSong'),
 Row(ts=1538402872000, level='paid', page='NextSong'),
 Row(ts=1538402873000, level='paid', page='Thumbs Up'),
 Row(ts=1538403100000, level='paid', page='NextSong'),
 Row(ts=1538403255000, level='paid', page='NextSong'),
 Row(ts=1538403256000, level='paid', page='Thumbs Up'),
 Row(ts=1538403504000, level='paid', page='NextSong'),
 Row(ts=1538403738000, level='paid', page='NextSong'),
 Row(ts=1538403739000, level='paid', page='Add Friend'),
 Row(ts=1538403937000, level='paid', page='NextSong'),
 Row(ts=1538404114000, level='paid', page='NextSong'),
 Row(ts=1538404204000, level='paid', page='Downgrade'),
 Row(ts=1538404205000, level='paid', page='Logout'),
 Row(ts=1538404506000, level='paid', page='Home'),
 Row(ts=1538404792000, level='paid', page='NextSong'),
 Row(ts=1538405068000, level='paid', page='NextSong'),
 Row(ts=1538405355000, level='paid', page='NextSong'),
 Row(ts=1538405565000, level='paid', page='NextSong'),
 Row(ts=1538405766000, level='paid', page='NextSong'),
 Row(ts=1538405957000, level='paid', page='NextSong'),
 Row(ts=1538406102000, level='paid', page='Help'),
 Row(ts=1538406158000, level='paid', page='NextSong'),
 Row(ts=1538406308000, level='paid', page='NextSong'),
 Row(ts=1538406550000, level='paid', page='Settings'),
 Row(ts=1538406688000, level='paid', page='Help'),
 Row(ts=1538406764000, level='paid', page='NextSong'),
 Row(ts=1538406972000, level='paid', page='NextSong'),
 Row(ts=1538407167000, level='paid', page='NextSong'),
 Row(ts=1538407188000, level='paid', page='Downgrade'),
 Row(ts=1538407321000, level='paid', page='NextSong'),
 Row(ts=1538407531000, level='paid', page='NextSong'),
 Row(ts=1538407756000, level='paid', page='NextSong'),
 Row(ts=1538407947000, level='paid', page='NextSong'),
 Row(ts=1538408292000, level='paid', page='NextSong'),
 Row(ts=1538408526000, level='paid', page='NextSong'),
 Row(ts=1538408753000, level='paid', page='NextSong'),
 Row(ts=1538408754000, level='paid', page='Thumbs Up'),
 Row(ts=1538408978000, level='paid', page='NextSong'),
 Row(ts=1538409119000, level='paid', page='NextSong'),
 Row(ts=1538409120000, level='paid', page='Thumbs Up'),
 Row(ts=1538409370000, level='paid', page='NextSong'),
 Row(ts=1538409597000, level='paid', page='NextSong'),
 Row(ts=1538409640000, level='paid', page='NextSong'),
 Row(ts=1538409878000, level='paid', page='NextSong'),
 Row(ts=1538410036000, level='paid', page='NextSong'),
 Row(ts=1538410273000, level='paid', page='NextSong'),
 Row(ts=1538410452000, level='paid', page='NextSong'),
 Row(ts=1538410645000, level='paid', page='NextSong'),
 Row(ts=1538410898000, level='paid', page='NextSong'),
 Row(ts=1538411079000, level='paid', page='NextSong'),
 Row(ts=1538411210000, level='paid', page='NextSong'),
 Row(ts=1538411372000, level='paid', page='NextSong'),
 Row(ts=1538411629000, level='paid', page='NextSong'),
 Row(ts=1538411869000, level='paid', page='NextSong'),
 Row(ts=1538411873000, level='paid', page='Home'),
 Row(ts=1538412332000, level='paid', page='NextSong'),
 Row(ts=1538412569000, level='paid', page='NextSong'),
 Row(ts=1538412905000, level='paid', page='NextSong'),
 Row(ts=1538413232000, level='paid', page='NextSong'),
 Row(ts=1538413474000, level='paid', page='NextSong'),
 Row(ts=1538413667000, level='paid', page='NextSong'),
 Row(ts=1538413884000, level='paid', page='NextSong'),
 Row(ts=1538414068000, level='paid', page='NextSong'),
 Row(ts=1538414561000, level='paid', page='NextSong'),
 Row(ts=1538414932000, level='paid', page='NextSong'),
 Row(ts=1538415113000, level='paid', page='NextSong'),
 Row(ts=1538415427000, level='paid', page='NextSong'),
 Row(ts=1538415632000, level='paid', page='NextSong'),
 Row(ts=1538415914000, level='paid', page='NextSong'),
 Row(ts=1538415954000, level='paid', page='NextSong'),
 Row(ts=1538416098000, level='paid', page='NextSong'),
 Row(ts=1538416421000, level='paid', page='NextSong'),
 Row(ts=1538416642000, level='paid', page='NextSong'),
 Row(ts=1538416791000, level='paid', page='Help'),
 Row(ts=1538416890000, level='paid', page='Home'),
 Row(ts=1538416895000, level='paid', page='NextSong'),
 Row(ts=1538417112000, level='paid', page='NextSong'),
 Row(ts=1538417317000, level='paid', page='NextSong'),
 Row(ts=1538417538000, level='paid', page='NextSong'),
 Row(ts=1538417796000, level='paid', page='NextSong'),
 Row(ts=1538417953000, level='paid', page='NextSong'),
 Row(ts=1538418239000, level='paid', page='NextSong'),
 Row(ts=1538418482000, level='paid', page='NextSong'),
 Row(ts=1538418518000, level='paid', page='Home'),
 Row(ts=1538418707000, level='paid', page='NextSong'),
 Row(ts=1538419148000, level='paid', page='NextSong'),
 Row(ts=1538419410000, level='paid', page='NextSong'),
 Row(ts=1538419581000, level='paid', page='NextSong'),
 Row(ts=1538420038000, level='paid', page='NextSong'),
 Row(ts=1538420324000, level='paid', page='NextSong'),
 Row(ts=1538420631000, level='paid', page='NextSong'),
 Row(ts=1538420854000, level='paid', page='NextSong'),
 Row(ts=1538421288000, level='paid', page='NextSong'),
 Row(ts=1538421494000, level='paid', page='NextSong'),
 Row(ts=1538421687000, level='paid', page='NextSong'),
 Row(ts=1538422191000, level='paid', page='NextSong'),
 Row(ts=1538422423000, level='paid', page='NextSong'),
 Row(ts=1538422520000, level='paid', page='NextSong'),
 Row(ts=1538422835000, level='paid', page='NextSong'),
 Row(ts=1538422909000, level='paid', page='Settings'),
 Row(ts=1538423012000, level='paid', page='NextSong'),
 Row(ts=1538423184000, level='paid', page='NextSong'),
 Row(ts=1538423430000, level='paid', page='NextSong'),
 Row(ts=1538423631000, level='paid', page='NextSong'),
 Row(ts=1538423835000, level='paid', page='NextSong'),
 Row(ts=1538424064000, level='paid', page='NextSong'),
 Row(ts=1538424360000, level='paid', page='NextSong'),
 Row(ts=1538424647000, level='paid', page='NextSong'),
 Row(ts=1538425032000, level='paid', page='NextSong'),
 Row(ts=1538425273000, level='paid', page='NextSong'),
 Row(ts=1538425528000, level='paid', page='NextSong'),
 Row(ts=1538425777000, level='paid', page='NextSong'),
 Row(ts=1538426126000, level='paid', page='NextSong'),
 Row(ts=1538426332000, level='paid', page='Add to Playlist'),
 Row(ts=1538426376000, level='paid', page='NextSong'),
 Row(ts=1538426612000, level='paid', page='NextSong'),
 Row(ts=1538426856000, level='paid', page='NextSong'),
 Row(ts=1538427208000, level='paid', page='NextSong'),
 Row(ts=1538427209000, level='paid', page='Thumbs Up'),
 Row(ts=1538427330000, level='paid', page='Add to Playlist'),
 Row(ts=1538427667000, level='paid', page='NextSong'),
 Row(ts=1538427894000, level='paid', page='NextSong'),
 Row(ts=1538428224000, level='paid', page='NextSong'),
 Row(ts=1538428225000, level='paid', page='Thumbs Up'),
 Row(ts=1538428472000, level='paid', page='NextSong'),
 Row(ts=1538428695000, level='paid', page='NextSong'),
 Row(ts=1538428972000, level='paid', page='NextSong'),
 Row(ts=1538429129000, level='paid', page='NextSong'),
 Row(ts=1538429320000, level='paid', page='NextSong'),
 Row(ts=1538429551000, level='paid', page='NextSong'),
 Row(ts=1538429747000, level='paid', page='NextSong'),
 Row(ts=1538430003000, level='paid', page='NextSong'),
 Row(ts=1538430125000, level='paid', page='NextSong'),
 Row(ts=1538430336000, level='paid', page='Add to Playlist'),
 Row(ts=1538430405000, level='paid', page='NextSong'),
 Row(ts=1538430628000, level='paid', page='NextSong'),
 Row(ts=1538430742000, level='paid', page='NextSong'),
 Row(ts=1538430931000, level='paid', page='NextSong'),
 Row(ts=1538431228000, level='paid', page='NextSong'),
 Row(ts=1538431517000, level='paid', page='NextSong'),
 Row(ts=1538431616000, level='paid', page='NextSong'),
 Row(ts=1538431799000, level='paid', page='NextSong'),
 Row(ts=1538431874000, level='paid', page='NextSong'),
 Row(ts=1538432010000, level='paid', page='NextSong'),
 Row(ts=1538432215000, level='paid', page='NextSong'),
 Row(ts=1538432731000, level='paid', page='NextSong'),
 Row(ts=1538432976000, level='paid', page='NextSong'),
 Row(ts=1538432988000, level='paid', page='Add to Playlist'),
 Row(ts=1538433277000, level='paid', page='NextSong'),
 Row(ts=1538433515000, level='paid', page='NextSong'),
 Row(ts=1538433693000, level='paid', page='NextSong'),
 Row(ts=1538433738000, level='paid', page='NextSong'),
 Row(ts=1538434178000, level='paid', page='NextSong'),
 Row(ts=1538434495000, level='paid', page='NextSong'),
 Row(ts=1538434829000, level='paid', page='NextSong'),
 Row(ts=1538435290000, level='paid', page='NextSong'),
 Row(ts=1538435493000, level='paid', page='NextSong'),
 Row(ts=1538435683000, level='paid', page='NextSong'),
 Row(ts=1538435684000, level='paid', page='Home'),
 Row(ts=1538435916000, level='paid', page='NextSong'),
 Row(ts=1538436126000, level='paid', page='NextSong'),
 Row(ts=1538436267000, level='paid', page='NextSong'),
 Row(ts=1538436550000, level='paid', page='NextSong'),
 Row(ts=1538436762000, level='paid', page='NextSong'),
 Row(ts=1538436763000, level='paid', page='Thumbs Up'),
 Row(ts=1538436805000, level='paid', page='Add to Playlist'),
 Row(ts=1538437041000, level='paid', page='NextSong'),
 Row(ts=1538437312000, level='paid', page='NextSong'),
 Row(ts=1538437568000, level='paid', page='NextSong'),
 Row(ts=1538437700000, level='paid', page='NextSong'),
 Row(ts=1538437943000, level='paid', page='NextSong'),
 Row(ts=1538438358000, level='paid', page='NextSong'),
 Row(ts=1538438670000, level='paid', page='NextSong'),
 Row(ts=1538438671000, level='paid', page='Thumbs Up'),
 Row(ts=1538438921000, level='paid', page='NextSong'),
 Row(ts=1538439248000, level='paid', page='NextSong'),
 Row(ts=1538439500000, level='paid', page='NextSong'),
 Row(ts=1538439678000, level='paid', page='NextSong'),
 Row(ts=1538439937000, level='paid', page='NextSong'),
 Row(ts=1538440138000, level='paid', page='NextSong'),
 Row(ts=1538440139000, level='paid', page='Thumbs Up'),
 Row(ts=1538440426000, level='paid', page='NextSong'),
 Row(ts=1538440504000, level='paid', page='Downgrade'),
 Row(ts=1538440518000, level='paid', page='Downgrade'),
 Row(ts=1538440618000, level='paid', page='Home'),
 Row(ts=1538440629000, level='paid', page='NextSong'),
 Row(ts=1538440874000, level='paid', page='NextSong'),
 Row(ts=1538440944000, level='paid', page='Home'),
 Row(ts=1538441147000, level='paid', page='NextSong'),
 Row(ts=1538441273000, level='paid', page='NextSong'),
 Row(ts=1538441510000, level='paid', page='NextSong'),
 Row(ts=1538441749000, level='paid', page='NextSong'),
 Row(ts=1538442077000, level='paid', page='NextSong'),
 Row(ts=1538442292000, level='paid', page='NextSong'),
 Row(ts=1538442675000, level='paid', page='NextSong'),
 Row(ts=1538442876000, level='paid', page='NextSong'),
 Row(ts=1538443094000, level='paid', page='NextSong'),
 Row(ts=1538443397000, level='paid', page='NextSong'),
 Row(ts=1538443605000, level='paid', page='NextSong'),
 Row(ts=1538443813000, level='paid', page='NextSong'),
 Row(ts=1538444044000, level='paid', page='NextSong'),
 Row(ts=1538444300000, level='paid', page='NextSong'),
 Row(ts=1538444561000, level='paid', page='NextSong'),
 Row(ts=1538444807000, level='paid', page='NextSong'),
 Row(ts=1538444897000, level='paid', page='Settings'),
 Row(ts=1538445077000, level='paid', page='NextSong'),
 Row(ts=1538445272000, level='paid', page='NextSong'),
 Row(ts=1538445489000, level='paid', page='NextSong'),
 Row(ts=1538445958000, level='paid', page='NextSong'),
 Row(ts=1538446127000, level='paid', page='NextSong'),
 Row(ts=1538446351000, level='paid', page='NextSong'),
 Row(ts=1538446587000, level='paid', page='NextSong'),
 Row(ts=1538446973000, level='paid', page='NextSong'),
 Row(ts=1538447195000, level='paid', page='NextSong'),
 Row(ts=1538447379000, level='paid', page='NextSong'),
 Row(ts=1538447380000, level='paid', page='Thumbs Up'),
 Row(ts=1538447591000, level='paid', page='NextSong'),
 Row(ts=1538447890000, level='paid', page='NextSong'),
 Row(ts=1538448156000, level='paid', page='NextSong'),
 Row(ts=1538448207000, level='paid', page='Downgrade'),
 Row(ts=1538448345000, level='paid', page='NextSong'),
 Row(ts=1538448468000, level='paid', page='Home'),
 Row(ts=1538448530000, level='paid', page='NextSong'),
 Row(ts=1538448672000, level='paid', page='NextSong'),
 Row(ts=1538448891000, level='paid', page='NextSong'),
 Row(ts=1538449051000, level='paid', page='Add to Playlist'),
 Row(ts=1538449132000, level='paid', page='NextSong'),
 Row(ts=1538449438000, level='paid', page='NextSong'),
 Row(ts=1538449887000, level='paid', page='NextSong'),
 Row(ts=1538450117000, level='paid', page='NextSong'),
 Row(ts=1538450441000, level='paid', page='NextSong'),
 Row(ts=1538450668000, level='paid', page='NextSong'),
 Row(ts=1538450844000, level='paid', page='NextSong'),
 Row(ts=1538451068000, level='paid', page='NextSong'),
 Row(ts=1538451329000, level='paid', page='NextSong'),
 Row(ts=1538451558000, level='paid', page='NextSong'),
 Row(ts=1538451559000, level='paid', page='Logout'),
 Row(ts=1538451642000, level='paid', page='Home'),
 Row(ts=1538451739000, level='paid', page='NextSong'),
 Row(ts=1538451975000, level='paid', page='NextSong'),
 Row(ts=1538452191000, level='paid', page='NextSong'),
 Row(ts=1538452380000, level='paid', page='NextSong'),
 Row(ts=1538452631000, level='paid', page='NextSong'),
 Row(ts=1538452850000, level='paid', page='NextSong'),
 Row(ts=1538453204000, level='paid', page='NextSong'),
 Row(ts=1538453485000, level='paid', page='NextSong'),
 Row(ts=1538453731000, level='paid', page='NextSong'),
 Row(ts=1538453938000, level='paid', page='NextSong'),
 Row(ts=1538454156000, level='paid', page='NextSong'),
 Row(ts=1538454378000, level='paid', page='NextSong'),
 Row(ts=1538454530000, level='paid', page='NextSong'),
 Row(ts=1538454660000, level='paid', page='NextSong'),
 Row(ts=1538454965000, level='paid', page='NextSong'),
 Row(ts=1538455164000, level='paid', page='NextSong'),
 Row(ts=1538455276000, level='paid', page='NextSong'),
 Row(ts=1538455509000, level='paid', page='NextSong'),
 Row(ts=1538455735000, level='paid', page='NextSong'),
 Row(ts=1538456010000, level='paid', page='NextSong'),
 Row(ts=1538456214000, level='paid', page='NextSong'),
 Row(ts=1538456557000, level='paid', page='NextSong'),
 Row(ts=1538456752000, level='paid', page='NextSong'),
 Row(ts=1538456954000, level='paid', page='NextSong'),
 Row(ts=1538457207000, level='paid', page='NextSong'),
 Row(ts=1538457401000, level='paid', page='NextSong'),
 Row(ts=1538457609000, level='paid', page='NextSong'),
 Row(ts=1538457654000, level='paid', page='Settings'),
 Row(ts=1538457801000, level='paid', page='Home'),
 Row(ts=1538457892000, level='paid', page='NextSong'),
 Row(ts=1538458101000, level='paid', page='NextSong'),
 Row(ts=1538458339000, level='paid', page='NextSong'),
 Row(ts=1538458540000, level='paid', page='NextSong'),
 Row(ts=1538458900000, level='paid', page='NextSong'),
 Row(ts=1538459101000, level='paid', page='NextSong'),
 Row(ts=1538459291000, level='paid', page='NextSong'),
 Row(ts=1538459511000, level='paid', page='NextSong'),
 Row(ts=1538459732000, level='paid', page='NextSong'),
 Row(ts=1538459928000, level='paid', page='NextSong'),
 Row(ts=1538460153000, level='paid', page='NextSong'),
 Row(ts=1538460416000, level='paid', page='NextSong'),
 Row(ts=1538460463000, level='paid', page='Home'),
 Row(ts=1538460637000, level='paid', page='NextSong'),
 Row(ts=1538461134000, level='paid', page='NextSong'),
 Row(ts=1538461789000, level='paid', page='NextSong'),
 Row(ts=1538462137000, level='paid', page='NextSong'),
 Row(ts=1538462458000, level='paid', page='NextSong'),
 Row(ts=1538462644000, level='paid', page='NextSong'),
 Row(ts=1538462882000, level='paid', page='NextSong'),
 Row(ts=1538463402000, level='paid', page='NextSong'),
 Row(ts=1538463732000, level='paid', page='NextSong'),
 Row(ts=1538464032000, level='paid', page='NextSong'),
 Row(ts=1538464033000, level='paid', page='Thumbs Up'),
 Row(ts=1538464174000, level='paid', page='NextSong'),
 Row(ts=1538464439000, level='paid', page='NextSong'),
 Row(ts=1538464826000, level='paid', page='NextSong'),
 Row(ts=1538465095000, level='paid', page='NextSong'),
 Row(ts=1538465296000, level='paid', page='NextSong'),
 Row(ts=1538465532000, level='paid', page='NextSong'),
 Row(ts=1538465979000, level='paid', page='NextSong'),
 Row(ts=1538466268000, level='paid', page='NextSong'),
 Row(ts=1538466269000, level='paid', page='Thumbs Up'),
 Row(ts=1538466491000, level='paid', page='NextSong'),
 Row(ts=1538466688000, level='paid', page='NextSong'),
 Row(ts=1538466926000, level='paid', page='NextSong'),
 Row(ts=1538467094000, level='paid', page='NextSong'),
 Row(ts=1538467095000, level='paid', page='Add Friend'),
 Row(ts=1538467321000, level='paid', page='NextSong'),
 Row(ts=1538467322000, level='paid', page='Thumbs Up'),
 Row(ts=1538467573000, level='paid', page='NextSong'),
 Row(ts=1538467784000, level='paid', page='NextSong'),
 Row(ts=1538467992000, level='paid', page='NextSong'),
 Row(ts=1538468270000, level='paid', page='NextSong'),
 Row(ts=1538468593000, level='paid', page='NextSong'),
 Row(ts=1538468997000, level='paid', page='NextSong'),
 Row(ts=1538469188000, level='paid', page='NextSong'),
 Row(ts=1538469433000, level='paid', page='NextSong'),
 Row(ts=1538469569000, level='paid', page='NextSong'),
 Row(ts=1538469594000, level='paid', page='NextSong'),
 Row(ts=1538469595000, level='paid', page='Thumbs Down'),
 Row(ts=1538469859000, level='paid', page='NextSong'),
 Row(ts=1538470115000, level='paid', page='NextSong'),
 Row(ts=1538470491000, level='paid', page='NextSong'),
 Row(ts=1538470624000, level='paid', page='NextSong'),
 Row(ts=1538470814000, level='paid', page='NextSong'),
 Row(ts=1538470835000, level='paid', page='About'),
 Row(ts=1538471160000, level='paid', page='NextSong'),
 Row(ts=1538471371000, level='paid', page='NextSong'),
 Row(ts=1538471639000, level='paid', page='NextSong'),
 Row(ts=1538471899000, level='paid', page='NextSong'),
 Row(ts=1538471918000, level='paid', page='Downgrade'),
 Row(ts=1538472142000, level='paid', page='NextSong'),
 Row(ts=1538472354000, level='paid', page='NextSong'),
 Row(ts=1538472626000, level='paid', page='NextSong'),
 Row(ts=1538472815000, level='paid', page='NextSong'),
 Row(ts=1538472817000, level='paid', page='Home'),
 Row(ts=1538473029000, level='paid', page='NextSong'),
 Row(ts=1538473273000, level='paid', page='NextSong'),
 Row(ts=1538473485000, level='paid', page='NextSong'),
 Row(ts=1538473880000, level='paid', page='NextSong'),
 Row(ts=1538474119000, level='paid', page='NextSong'),
 Row(ts=1538474362000, level='paid', page='NextSong'),
 Row(ts=1538474363000, level='paid', page='Thumbs Up'),
 Row(ts=1538474517000, level='paid', page='Add to Playlist'),
 Row(ts=1538474543000, level='paid', page='NextSong'),
 Row(ts=1538474852000, level='paid', page='NextSong'),

In [47]:
df.filter(df.userId=='51').select('ts','level','page').sort(desc("ts")).take(50)

[Row(ts=1539761972000, level='paid', page='Cancellation Confirmation'),
 Row(ts=1539761830000, level='paid', page='Cancel'),
 Row(ts=1539761829000, level='paid', page='Settings'),
 Row(ts=1539761726000, level='paid', page='NextSong'),
 Row(ts=1539761508000, level='paid', page='NextSong'),
 Row(ts=1539761269000, level='paid', page='NextSong'),
 Row(ts=1539761030000, level='paid', page='NextSong'),
 Row(ts=1539760849000, level='paid', page='NextSong'),
 Row(ts=1539760549000, level='paid', page='NextSong'),
 Row(ts=1539760052000, level='paid', page='NextSong'),
 Row(ts=1539759811000, level='paid', page='NextSong'),
 Row(ts=1539759645000, level='paid', page='NextSong'),
 Row(ts=1539759362000, level='paid', page='NextSong'),
 Row(ts=1539759213000, level='paid', page='Thumbs Up'),
 Row(ts=1539759212000, level='paid', page='NextSong'),
 Row(ts=1539759000000, level='paid', page='NextSong'),
 Row(ts=1539758750000, level='paid', page='NextSong'),
 Row(ts=1539758573000, level='paid', page='NextSong'),
 Row(ts=1539758314000, level='paid', page='NextSong'),
 Row(ts=1539757983000, level='paid', page='NextSong'),
 Row(ts=1539757733000, level='paid', page='NextSong'),
 Row(ts=1539757500000, level='paid', page='NextSong'),
 Row(ts=1539757144000, level='paid', page='NextSong'),
 Row(ts=1539756964000, level='paid', page='Thumbs Down'),
 Row(ts=1539756963000, level='paid', page='NextSong'),
 Row(ts=1539756719000, level='paid', page='NextSong'),
 Row(ts=1539756515000, level='paid', page='Home'),
 Row(ts=1539756514000, level='paid', page='NextSong'),
 Row(ts=1539756313000, level='paid', page='NextSong'),
 Row(ts=1539756054000, level='paid', page='NextSong'),
 Row(ts=1539755782000, level='paid', page='NextSong'),
 Row(ts=1539755522000, level='paid', page='NextSong'),
 Row(ts=1539755382000, level='paid', page='NextSong'),
 Row(ts=1539755157000, level='paid', page='NextSong'),
 Row(ts=1539754919000, level='paid', page='NextSong'),
 Row(ts=1539754689000, level='paid', page='NextSong'),
 Row(ts=1539754319000, level='paid', page='NextSong'),
 Row(ts=1539753814000, level='paid', page='NextSong'),
 Row(ts=1539753648000, level='paid', page='NextSong'),
 Row(ts=1539753499000, level='paid', page='NextSong'),
 Row(ts=1539753199000, level='paid', page='NextSong'),
 Row(ts=1539752986000, level='paid', page='Thumbs Up'),
 Row(ts=1539752985000, level='paid', page='NextSong'),
 Row(ts=1539752785000, level='paid', page='NextSong'),
 Row(ts=1539752512000, level='paid', page='Home'),
 Row(ts=1539752494000, level='paid', page='NextSong'),
 Row(ts=1539752203000, level='paid', page='NextSong'),
 Row(ts=1539751996000, level='paid', page='NextSong'),
 Row(ts=1539751754000, level='paid', page='NextSong'),
 Row(ts=1539751360000, level='paid', page='NextSong')]

In [48]:
df.filter(df.userId=='51').select('page').groupBy('page').agg({'page':'count'}).show()

+--------------------+-----------+
|                page|count(page)|
+--------------------+-----------+
|              Cancel|          1|
|         Thumbs Down|         21|
|                Home|         75|
|           Downgrade|         23|
|              Logout|         24|
|       Save Settings|          1|
|Cancellation Conf...|          1|
|               About|          2|
|            Settings|         12|
|     Add to Playlist|         52|
|          Add Friend|         28|
|            NextSong|       2111|
|           Thumbs Up|        100|
|                Help|         12|
|               Error|          1|
+--------------------+-----------+

In [49]:
df.filter(df.userId=='54').select('ts','level','page').collect()

[Row(ts=1538353930000, level='paid', page='NextSong'),
 Row(ts=1538354180000, level='paid', page='NextSong'),
 Row(ts=1538354396000, level='paid', page='NextSong'),
 Row(ts=1538354739000, level='paid', page='NextSong'),
 Row(ts=1538354749000, level='paid', page='Downgrade'),
 Row(ts=1538354985000, level='paid', page='NextSong'),
 Row(ts=1538355254000, level='paid', page='NextSong'),
 Row(ts=1538355255000, level='paid', page='Thumbs Up'),
 Row(ts=1538395957000, level='paid', page='NextSong'),
 Row(ts=1538396264000, level='paid', page='NextSong'),
 Row(ts=1538396638000, level='paid', page='NextSong'),
 Row(ts=1538396906000, level='paid', page='NextSong'),
 Row(ts=1538397069000, level='paid', page='NextSong'),
 Row(ts=1538397315000, level='paid', page='NextSong'),
 Row(ts=1538397475000, level='paid', page='NextSong'),
 Row(ts=1538397657000, level='paid', page='NextSong'),
 Row(ts=1538398061000, level='paid', page='NextSong'),
 Row(ts=1538398220000, level='paid', page='NextSong'),
 Row(ts=1538398631000, level='paid', page='NextSong'),
 Row(ts=1538398860000, level='paid', page='NextSong'),
 Row(ts=1538399167000, level='paid', page='NextSong'),
 Row(ts=1538399168000, level='paid', page='Add Friend'),
 Row(ts=1538399169000, level='paid', page='Add Friend'),
 Row(ts=1538399418000, level='paid', page='NextSong'),
 Row(ts=1538399595000, level='paid', page='NextSong'),
 Row(ts=1538399854000, level='paid', page='NextSong'),
 Row(ts=1538399976000, level='paid', page='NextSong'),
 Row(ts=1538400203000, level='paid', page='NextSong'),
 Row(ts=1538400479000, level='paid', page='NextSong'),
 Row(ts=1538400729000, level='paid', page='NextSong'),
 Row(ts=1538400968000, level='paid', page='NextSong'),
 Row(ts=1538401159000, level='paid', page='NextSong'),
 Row(ts=1538401594000, level='paid', page='NextSong'),
 Row(ts=1538401595000, level='paid', page='Thumbs Up'),
 Row(ts=1538401835000, level='paid', page='NextSong'),
 Row(ts=1538401905000, level='paid', page='Home'),
 Row(ts=1538402164000, level='paid', page='NextSong'),
 Row(ts=1538402368000, level='paid', page='NextSong'),
 Row(ts=1538402369000, level='paid', page='Thumbs Up'),
 Row(ts=1538402535000, level='paid', page='NextSong'),
 Row(ts=1538402749000, level='paid', page='NextSong'),
 Row(ts=1538402750000, level='paid', page='Thumbs Up'),
 Row(ts=1538403002000, level='paid', page='NextSong'),
 Row(ts=1538403202000, level='paid', page='NextSong'),
 Row(ts=1538403377000, level='paid', page='NextSong'),
 Row(ts=1538403595000, level='paid', page='NextSong'),
 Row(ts=1538403860000, level='paid', page='NextSong'),
 Row(ts=1538404119000, level='paid', page='NextSong'),
 Row(ts=1538404315000, level='paid', page='NextSong'),
 Row(ts=1538404558000, level='paid', page='NextSong'),
 Row(ts=1538405134000, level='paid', page='NextSong'),
 Row(ts=1538405728000, level='paid', page='NextSong'),
 Row(ts=1538405891000, level='paid', page='NextSong'),
 Row(ts=1538406092000, level='paid', page='NextSong'),
 Row(ts=1538406255000, level='paid', page='NextSong'),
 Row(ts=1538406262000, level='paid', page='Add to Playlist'),
 Row(ts=1538406447000, level='paid', page='NextSong'),
 Row(ts=1538406714000, level='paid', page='NextSong'),
 Row(ts=1538406953000, level='paid', page='NextSong'),
 Row(ts=1538407118000, level='paid', page='NextSong'),
 Row(ts=1538407326000, level='paid', page='NextSong'),
 Row(ts=1538407491000, level='paid', page='NextSong'),
 Row(ts=1538407746000, level='paid', page='NextSong'),
 Row(ts=1538408057000, level='paid', page='NextSong'),
 Row(ts=1538408231000, level='paid', page='NextSong'),
 Row(ts=1538408689000, level='paid', page='NextSong'),
 Row(ts=1538408749000, level='paid', page='Downgrade'),
 Row(ts=1538408824000, level='paid', page='NextSong'),
 Row(ts=1538409308000, level='paid', page='NextSong'),
 Row(ts=1538409309000, level='paid', page='Add Friend'),
 Row(ts=1538409469000, level='paid', page='NextSong'),
 Row(ts=1538409729000, level='paid', page='NextSong'),
 Row(ts=1538409993000, level='paid', page='NextSong'),
 Row(ts=1538409994000, level='paid', page='Logout'),
 Row(ts=1538410269000, level='paid', page='Home'),
 Row(ts=1538410339000, level='paid', page='NextSong'),
 Row(ts=1538410532000, level='paid', page='NextSong'),
 Row(ts=1538410533000, level='paid', page='Logout'),
 Row(ts=1538410688000, level='paid', page='Home'),
 Row(ts=1538410816000, level='paid', page='NextSong'),
 Row(ts=1538411075000, level='paid', page='NextSong'),
 Row(ts=1538411305000, level='paid', page='NextSong'),
 Row(ts=1538411443000, level='paid', page='Help'),
 Row(ts=1538411506000, level='paid', page='NextSong'),
 Row(ts=1538411726000, level='paid', page='Add to Playlist'),
 Row(ts=1538411764000, level='paid', page='NextSong'),
 Row(ts=1538411994000, level='paid', page='NextSong'),
 Row(ts=1538412250000, level='paid', page='NextSong'),
 Row(ts=1538412478000, level='paid', page='NextSong'),
 Row(ts=1538412564000, level='paid', page='NextSong'),
 Row(ts=1538412764000, level='paid', page='NextSong'),
 Row(ts=1538413054000, level='paid', page='NextSong'),
 Row(ts=1538413304000, level='paid', page='NextSong'),
 Row(ts=1538413565000, level='paid', page='NextSong'),
 Row(ts=1538413801000, level='paid', page='NextSong'),
 Row(ts=1538414025000, level='paid', page='NextSong'),
 Row(ts=1538414231000, level='paid', page='NextSong'),
 Row(ts=1538414564000, level='paid', page='NextSong'),
 Row(ts=1538414730000, level='paid', page='NextSong'),
 Row(ts=1538414747000, level='paid', page='Help'),
 Row(ts=1538414967000, level='paid', page='NextSong'),
 Row(ts=1538415466000, level='paid', page='NextSong'),
 Row(ts=1538415667000, level='paid', page='NextSong'),
 Row(ts=1538415923000, level='paid', page='NextSong'),
 Row(ts=1538415938000, level='paid', page='Roll Advert'),
 Row(ts=1538416091000, level='paid', page='NextSong'),
 Row(ts=1538416291000, level='paid', page='NextSong'),
 Row(ts=1538416552000, level='paid', page='NextSong'),
 Row(ts=1538416812000, level='paid', page='NextSong'),
 Row(ts=1538417020000, level='paid', page='NextSong'),
 Row(ts=1538417307000, level='paid', page='NextSong'),
 Row(ts=1538417572000, level='paid', page='NextSong'),
 Row(ts=1538417786000, level='paid', page='NextSong'),
 Row(ts=1538417965000, level='paid', page='NextSong'),
 Row(ts=1538418144000, level='paid', page='NextSong'),
 Row(ts=1538418201000, level='paid', page='Add to Playlist'),
 Row(ts=1538418348000, level='paid', page='NextSong'),
 Row(ts=1538418351000, level='paid', page='Downgrade'),
 Row(ts=1538418570000, level='paid', page='NextSong'),
 Row(ts=1538418729000, level='paid', page='NextSong'),
 Row(ts=1538418939000, level='paid', page='NextSong'),
 Row(ts=1538419097000, level='paid', page='NextSong'),
 Row(ts=1538419098000, level='paid', page='Thumbs Up'),
 Row(ts=1538419239000, level='paid', page='NextSong'),
 Row(ts=1538419500000, level='paid', page='NextSong'),
 Row(ts=1538419612000, level='paid', page='NextSong'),
 Row(ts=1538419942000, level='paid', page='NextSong'),
 Row(ts=1538420300000, level='paid', page='NextSong'),
 Row(ts=1538420683000, level='paid', page='NextSong'),
 Row(ts=1538420695000, level='paid', page='Home'),
 Row(ts=1538420944000, level='paid', page='NextSong'),
 Row(ts=1538421199000, level='paid', page='NextSong'),
 Row(ts=1538421302000, level='paid', page='NextSong'),
 Row(ts=1538421535000, level='paid', page='NextSong'),
 Row(ts=1538421536000, level='paid', page='Thumbs Down'),
 Row(ts=1538421792000, level='paid', page='NextSong'),
 Row(ts=1538422031000, level='paid', page='NextSong'),
 Row(ts=1538422220000, level='paid', page='NextSong'),
 Row(ts=1538422256000, level='paid', page='Help'),
 Row(ts=1538422257000, level='paid', page='Add Friend'),
 Row(ts=1538422419000, level='paid', page='NextSong'),
 Row(ts=1538422628000, level='paid', page='NextSong'),
 Row(ts=1538422932000, level='paid', page='NextSong'),
 Row(ts=1538423182000, level='paid', page='NextSong'),
 Row(ts=1538423183000, level='paid', page='Logout'),
 Row(ts=1538423288000, level='paid', page='Home'),
 Row(ts=1538423392000, level='paid', page='Home'),
 Row(ts=1538423433000, level='paid', page='NextSong'),
 Row(ts=1538423703000, level='paid', page='NextSong'),
 Row(ts=1538423932000, level='paid', page='NextSong'),
 Row(ts=1538424160000, level='paid', page='NextSong'),
 Row(ts=1538424382000, level='paid', page='NextSong'),
 Row(ts=1538424507000, level='paid', page='NextSong'),
 Row(ts=1538424555000, level='paid', page='Home'),
 Row(ts=1538424556000, level='paid', page='Add Friend'),
 Row(ts=1538623828000, level='paid', page='NextSong'),
 Row(ts=1538624046000, level='paid', page='NextSong'),
 Row(ts=1538624273000, level='paid', page='NextSong'),
 Row(ts=1538624500000, level='paid', page='NextSong'),
 Row(ts=1538624766000, level='paid', page='NextSong'),
 Row(ts=1538624767000, level='paid', page='Thumbs Down'),
 Row(ts=1538625004000, level='paid', page='NextSong'),
 Row(ts=1538625325000, level='paid', page='NextSong'),
 Row(ts=1538625673000, level='paid', page='NextSong'),
 Row(ts=1538625869000, level='paid', page='NextSong'),
 Row(ts=1538626405000, level='paid', page='NextSong'),
 Row(ts=1538626658000, level='paid', page='NextSong'),
 Row(ts=1538626750000, level='paid', page='NextSong'),
 Row(ts=1538626751000, level='paid', page='Thumbs Up'),
 Row(ts=1538626995000, level='paid', page='NextSong'),
 Row(ts=1538627520000, level='paid', page='NextSong'),
 Row(ts=1538627554000, level='paid', page='Add to Playlist'),
 Row(ts=1538627677000, level='paid', page='NextSong'),
 Row(ts=1538627977000, level='paid', page='NextSong'),
 Row(ts=1538628223000, level='paid', page='NextSong'),
 Row(ts=1538628514000, level='paid', page='NextSong'),
 Row(ts=1538628779000, level='paid', page='NextSong'),
 Row(ts=1538629018000, level='paid', page='NextSong'),
 Row(ts=1538629199000, level='paid', page='NextSong'),
 Row(ts=1538629482000, level='paid', page='NextSong'),
 Row(ts=1538629737000, level='paid', page='NextSong'),
 Row(ts=1538629918000, level='paid', page='NextSong'),
 Row(ts=1538630171000, level='paid', page='NextSong'),
 Row(ts=1538630914000, level='paid', page='Downgrade'),
 Row(ts=1538631027000, level='paid', page='NextSong'),
 Row(ts=1538631174000, level='paid', page='NextSong'),
 Row(ts=1538631375000, level='paid', page='NextSong'),
 Row(ts=1538631701000, level='paid', page='NextSong'),
 Row(ts=1538631827000, level='paid', page='NextSong'),
 Row(ts=1538632116000, level='paid', page='NextSong'),
 Row(ts=1538632317000, level='paid', page='NextSong'),
 Row(ts=1538632318000, level='paid', page='Logout'),
 Row(ts=1538632346000, level='paid', page='Home'),
 Row(ts=1538632529000, level='paid', page='NextSong'),
 Row(ts=1538632766000, level='paid', page='Home'),
 Row(ts=1538632790000, level='paid', page='NextSong'),
 Row(ts=1538633181000, level='paid', page='NextSong'),
 Row(ts=1538633425000, level='paid', page='NextSong'),
 Row(ts=1538633426000, level='paid', page='Thumbs Up'),
 Row(ts=1538633674000, level='paid', page='NextSong'),
 Row(ts=1538633675000, level='paid', page='Logout'),
 Row(ts=1538712831000, level='paid', page='Home'),
 Row(ts=1538712926000, level='paid', page='About'),
 Row(ts=1538712966000, level='paid', page='Home'),
 Row(ts=1538712967000, level='paid', page='Add Friend'),
 Row(ts=1538713086000, level='paid', page='NextSong'),
 Row(ts=1538713878000, level='paid', page='NextSong'),
 Row(ts=1538713922000, level='paid', page='Home'),
 Row(ts=1538714121000, level='paid', page='NextSong'),
 Row(ts=1538714122000, level='paid', page='Thumbs Up'),
 Row(ts=1538714669000, level='paid', page='NextSong'),
 Row(ts=1538714951000, level='paid', page='NextSong'),
 Row(ts=1538715218000, level='paid', page='NextSong'),
 Row(ts=1538715359000, level='paid', page='NextSong'),
 Row(ts=1538715551000, level='paid', page='NextSong'),
 Row(ts=1538715920000, level='paid', page='Add to Playlist'),
 Row(ts=1538715935000, level='paid', page='NextSong'),
 Row(ts=1538716199000, level='paid', page='NextSong'),
 Row(ts=1538716348000, level='paid', page='NextSong'),
 Row(ts=1538716595000, level='paid', page='NextSong'),
 Row(ts=1538716832000, level='paid', page='NextSong'),
 Row(ts=1538717154000, level='paid', page='NextSong'),
 Row(ts=1538717377000, level='paid', page='NextSong'),
 Row(ts=1538717652000, level='paid', page='NextSong'),
 Row(ts=1538717792000, level='paid', page='NextSong'),
 Row(ts=1538718099000, level='paid', page='NextSong'),
 Row(ts=1538718274000, level='paid', page='NextSong'),
 Row(ts=1538718567000, level='paid', page='NextSong'),
 Row(ts=1538718708000, level='paid', page='NextSong'),
 Row(ts=1538718829000, level='paid', page='Downgrade'),
 Row(ts=1538718936000, level='paid', page='NextSong'),
 Row(ts=1538719172000, level='paid', page='NextSong'),
 Row(ts=1538719414000, level='paid', page='NextSong'),
 Row(ts=1538719696000, level='paid', page='NextSong'),
 Row(ts=1538719923000, level='paid', page='NextSong'),
 Row(ts=1538720144000, level='paid', page='NextSong'),
 Row(ts=1538720345000, level='paid', page='NextSong'),
 Row(ts=1538720559000, level='paid', page='NextSong'),
 Row(ts=1538720883000, level='paid', page='NextSong'),
 Row(ts=1538721028000, level='paid', page='NextSong'),
 Row(ts=1538721798000, level='paid', page='NextSong'),
 Row(ts=1538722025000, level='paid', page='NextSong'),
 Row(ts=1538722244000, level='paid', page='NextSong'),
 Row(ts=1538722547000, level='paid', page='NextSong'),
 Row(ts=1538722821000, level='paid', page='NextSong'),
 Row(ts=1538723052000, level='paid', page='NextSong'),
 Row(ts=1538723095000, level='paid', page='Help'),
 Row(ts=1538723252000, level='paid', page='Home'),
 Row(ts=1538723263000, level='paid', page='NextSong'),
 Row(ts=1538723494000, level='paid', page='NextSong'),
 Row(ts=1538723761000, level='paid', page='NextSong'),
 Row(ts=1538724041000, level='paid', page='NextSong'),
 Row(ts=1538724042000, level='paid', page='Thumbs Up'),
 Row(ts=1538724696000, level='paid', page='NextSong'),
 Row(ts=1538724965000, level='paid', page='NextSong'),
 Row(ts=1538725251000, level='paid', page='NextSong'),
 Row(ts=1538725560000, level='paid', page='NextSong'),
 Row(ts=1538725968000, level='paid', page='NextSong'),
 Row(ts=1538726184000, level='paid', page='NextSong'),
 Row(ts=1538726403000, level='paid', page='NextSong'),
 Row(ts=1538726736000, level='paid', page='NextSong'),
 Row(ts=1538727047000, level='paid', page='NextSong'),
 Row(ts=1538727048000, level='paid', page='Thumbs Up'),
 Row(ts=1538727351000, level='paid', page='NextSong'),
 Row(ts=1538727587000, level='paid', page='NextSong'),
 Row(ts=1538727933000, level='paid', page='NextSong'),
 Row(ts=1538728237000, level='paid', page='NextSong'),
 Row(ts=1538728441000, level='paid', page='NextSong'),
 Row(ts=1538728705000, level='paid', page='NextSong'),
 Row(ts=1538728954000, level='paid', page='NextSong'),
 Row(ts=1538729177000, level='paid', page='NextSong'),
 Row(ts=1538729406000, level='paid', page='NextSong'),
 Row(ts=1538729600000, level='paid', page='NextSong'),
 Row(ts=1538729830000, level='paid', page='NextSong'),
 Row(ts=1538729895000, level='paid', page='NextSong'),
 Row(ts=1538730131000, level='paid', page='NextSong'),
 Row(ts=1538730233000, level='paid', page='Downgrade'),
 Row(ts=1538730416000, level='paid', page='NextSong'),
 Row(ts=1538730646000, level='paid', page='NextSong'),
 Row(ts=1538730764000, level='paid', page='NextSong'),
 Row(ts=1538730959000, level='paid', page='NextSong'),
 Row(ts=1538731179000, level='paid', page='NextSong'),
 Row(ts=1538731245000, level='paid', page='NextSong'),
 Row(ts=1538731377000, level='paid', page='NextSong'),
 Row(ts=1538731634000, level='paid', page='NextSong'),
 Row(ts=1538731826000, level='paid', page='NextSong'),
 Row(ts=1538732069000, level='paid', page='NextSong'),
 Row(ts=1538732426000, level='paid', page='NextSong'),
 Row(ts=1538732667000, level='paid', page='NextSong'),
 Row(ts=1538733013000, level='paid', page='NextSong'),
 Row(ts=1538733279000, level='paid', page='NextSong'),
 Row(ts=1538733280000, level='paid', page='Logout'),
 Row(ts=1538733303000, level='paid', page='Home'),
 Row(ts=1538733508000, level='paid', page='NextSong'),
 Row(ts=1538733794000, level='paid', page='NextSong'),
 Row(ts=1538733841000, level='paid', page='Add to Playlist'),
 Row(ts=1538733921000, level='paid', page='NextSong'),
 Row(ts=1538734172000, level='paid', page='NextSong'),
 Row(ts=1538734517000, level='paid', page='NextSong'),
 Row(ts=1538734617000, level='paid', page='Home'),
 Row(ts=1538773999000, level='paid', page='NextSong'),
 Row(ts=1538774170000, level='paid', page='NextSong'),
 Row(ts=1538774514000, level='paid', page='NextSong'),
 Row(ts=1538774515000, level='paid', page='Thumbs Up'),
 Row(ts=1538774698000, level='paid', page='NextSong'),
 Row(ts=1538775036000, level='paid', page='NextSong'),
 Row(ts=1538775037000, level='paid', page='Add Friend'),
 Row(ts=1538775283000, level='paid', page='NextSong'),
 Row(ts=1538775798000, level='paid', page='NextSong'),
 Row(ts=1538775973000, level='paid', page='NextSong'),
 Row(ts=1538775974000, level='paid', page='Thumbs Up'),
 Row(ts=1538776259000, level='paid', page='NextSong'),
 Row(ts=1538776417000, level='paid', page='NextSong'),
 Row(ts=1538776563000, level='paid', page='NextSong'),
 Row(ts=1538776772000, level='paid', page='NextSong'),
 Row(ts=1538776979000, level='paid', page='NextSong'),
 Row(ts=1538777137000, level='paid', page='NextSong'),
 Row(ts=1538777373000, level='paid', page='NextSong'),
 Row(ts=1538777741000, level='paid', page='NextSong'),
 Row(ts=1538777924000, level='paid', page='NextSong'),
 Row(ts=1538778189000, level='paid', page='NextSong'),
 Row(ts=1538778491000, level='paid', page='NextSong'),
 Row(ts=1538778921000, level='paid', page='NextSong'),
 Row(ts=1538778922000, level='paid', page='Thumbs Up'),
 Row(ts=1538779236000, level='paid', page='NextSong'),
 Row(ts=1538779535000, level='paid', page='NextSong'),
 Row(ts=1538779841000, level='paid', page='NextSong'),
 Row(ts=1538779867000, level='paid', page='Downgrade'),
 Row(ts=1538780009000, level='paid', page='NextSong'),
 Row(ts=1538780010000, level='paid', page='Thumbs Up'),
 Row(ts=1538780131000, level='paid', page='NextSong'),
 Row(ts=1538780396000, level='paid', page='NextSong'),
 Row(ts=1538780696000, level='paid', page='NextSong'),
 Row(ts=1538780820000, level='paid', page='Settings'),
 Row(ts=1538780880000, level='paid', page='NextSong'),
 Row(ts=1538781228000, level='paid', page='NextSong'),
 Row(ts=1538781457000, level='paid', page='NextSong'),
 Row(ts=1538781698000, level='paid', page='NextSong'),
 Row(ts=1538781905000, level='paid', page='NextSong'),
 Row(ts=1538782112000, level='paid', page='NextSong'),
 Row(ts=1538782382000, level='paid', page='NextSong'),
 Row(ts=1538782574000, level='paid', page='NextSong'),
 Row(ts=1538782878000, level='paid', page='NextSong'),
 Row(ts=1538783209000, level='paid', page='NextSong'),
 Row(ts=1538783534000, level='paid', page='NextSong'),
 Row(ts=1538783809000, level='paid', page='NextSong'),
 Row(ts=1538783982000, level='paid', page='NextSong'),
 Row(ts=1538783983000, level='paid', page='Thumbs Down'),
 Row(ts=1538784279000, level='paid', page='NextSong'),
 Row(ts=1538784496000, level='paid', page='NextSong'),
 Row(ts=1538784948000, level='paid', page='NextSong'),
 Row(ts=1538785293000, level='paid', page='NextSong'),
 Row(ts=1538785504000, level='paid', page='NextSong'),
 Row(ts=1538785983000, level='paid', page='NextSong'),
 Row(ts=1538786222000, level='paid', page='NextSong'),
 Row(ts=1538786366000, level='paid', page='NextSong'),
 Row(ts=1538786593000, level='paid', page='NextSong'),
 Row(ts=1538786672000, level='paid', page='Error'),
 Row(ts=1538786761000, level='paid', page='NextSong'),
 Row(ts=1538786980000, level='paid', page='NextSong'),
 Row(ts=1538787192000, level='paid', page='NextSong'),
 Row(ts=1538787212000, level='paid', page='Home'),
 Row(ts=1538787520000, level='paid', page='NextSong'),

In [50]:
df.filter(df.userId=='54').select('ts','level','page').sort(desc("ts")).take(50)

[Row(ts=1542051608000, level='paid', page='Cancellation Confirmation'),
 Row(ts=1542051577000, level='paid', page='Cancel'),
 Row(ts=1542051576000, level='paid', page='Settings'),
 Row(ts=1542051567000, level='paid', page='Home'),
 Row(ts=1542051505000, level='paid', page='NextSong'),
 Row(ts=1542051338000, level='paid', page='NextSong'),
 Row(ts=1542051079000, level='paid', page='NextSong'),
 Row(ts=1542050900000, level='paid', page='NextSong'),
 Row(ts=1542050648000, level='paid', page='NextSong'),
 Row(ts=1542050464000, level='paid', page='NextSong'),
 Row(ts=1542050203000, level='paid', page='NextSong'),
 Row(ts=1542049969000, level='paid', page='Home'),
 Row(ts=1542049964000, level='paid', page='NextSong'),
 Row(ts=1542049735000, level='paid', page='NextSong'),
 Row(ts=1542049586000, level='paid', page='Add to Playlist'),
 Row(ts=1542049505000, level='paid', page='NextSong'),
 Row(ts=1542049245000, level='paid', page='NextSong'),
 Row(ts=1542048907000, level='paid', page='NextSong'),
 Row(ts=1542048709000, level='paid', page='NextSong'),
 Row(ts=1542048340000, level='paid', page='NextSong'),
 Row(ts=1542048159000, level='paid', page='NextSong'),
 Row(ts=1542048038000, level='paid', page='NextSong'),
 Row(ts=1542047922000, level='paid', page='Add to Playlist'),
 Row(ts=1542047874000, level='paid', page='NextSong'),
 Row(ts=1542047673000, level='paid', page='NextSong'),
 Row(ts=1542047524000, level='paid', page='NextSong'),
 Row(ts=1542047272000, level='paid', page='NextSong'),
 Row(ts=1542046897000, level='paid', page='NextSong'),
 Row(ts=1542046607000, level='paid', page='NextSong'),
 Row(ts=1542046299000, level='paid', page='Thumbs Up'),
 Row(ts=1542046298000, level='paid', page='NextSong'),
 Row(ts=1542046189000, level='paid', page='NextSong'),
 Row(ts=1542045902000, level='paid', page='NextSong'),
 Row(ts=1542045799000, level='paid', page='Add to Playlist'),
 Row(ts=1542045771000, level='paid', page='NextSong'),
 Row(ts=1542045577000, level='paid', page='NextSong'),
 Row(ts=1542045275000, level='paid', page='NextSong'),
 Row(ts=1542045096000, level='paid', page='NextSong'),
 Row(ts=1542044974000, level='paid', page='NextSong'),
 Row(ts=1542044736000, level='paid', page='NextSong'),
 Row(ts=1542044678000, level='paid', page='Home'),
 Row(ts=1541923666000, level='paid', page='Logout'),
 Row(ts=1541923665000, level='paid', page='NextSong'),
 Row(ts=1541923386000, level='paid', page='NextSong'),
 Row(ts=1541923108000, level='paid', page='NextSong'),
 Row(ts=1541922869000, level='paid', page='NextSong'),
 Row(ts=1541922579000, level='paid', page='NextSong'),
 Row(ts=1541922043000, level='paid', page='NextSong'),
 Row(ts=1541921723000, level='paid', page='NextSong'),
 Row(ts=1541921480000, level='paid', page='NextSong')]

In [51]:
df.filter(df.userId=='54').select('page').groupBy('page').agg({'page':'count'}).show()

+--------------------+-----------+
|                page|count(page)|
+--------------------+-----------+
|              Cancel|          1|
|    Submit Downgrade|          1|
|         Thumbs Down|         29|
|                Home|        129|
|           Downgrade|         39|
|         Roll Advert|         47|
|              Logout|         36|
|       Save Settings|          3|
|Cancellation Conf...|          1|
|               About|          5|
|            Settings|         17|
|     Add to Playlist|         72|
|          Add Friend|         33|
|            NextSong|       2841|
|           Thumbs Up|        163|
|                Help|         17|
|             Upgrade|          1|
|               Error|          1|
|      Submit Upgrade|          1|
+--------------------+-----------+

In [54]:
df = df.withColumn("churn_id", Fsum("churn").over(windowval))

[Row(artist='Sleeping With Sirens', auth='Logged In', firstName='Darianna', gender='F', itemInSession=0, lastName='Carpenter', length=202.97098, level='free', location='Bridgeport-Stamford-Norwalk, CT', method='PUT', page='NextSong', registration=1538016340000, sessionId=31, song='Captain Tyin Knots VS Mr Walkway (No Way)', status=200, ts=1539003534000, userAgent='"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"', userId='100010', churn=0, churn_id=0),
 Row(artist='Francesca Battistelli', auth='Logged In', firstName='Darianna', gender='F', itemInSession=1, lastName='Carpenter', length=196.54485, level='free', location='Bridgeport-Stamford-Norwalk, CT', method='PUT', page='NextSong', registration=1538016340000, sessionId=31, song='Beautiful_ Beautiful (Album)', status=200, ts=1539003736000, userAgent='"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"', userId='100010', churn=0, churn_id=0),
 Row(artist='Brutha', auth='Logged In', firstName='Darianna', gender='F', itemInSession=2, lastName='Carpenter', length=263.13098, level='free', location='Bridgeport-Stamford-Norwalk, CT', method='PUT', page='NextSong', registration=1538016340000, sessionId=31, song="She's Gone", status=200, ts=1539003932000, userAgent='"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"', userId='100010', churn=0, churn_id=0),
 Row(artist=None, auth='Logged In', firstName='Darianna', gender='F', itemInSession=3, lastName='Carpenter', length=None, level='free', location='Bridgeport-Stamford-Norwalk, CT', method='PUT', page='Thumbs Up', registration=1538016340000, sessionId=31, song=None, status=307, ts=1539003933000, userAgent='"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"', userId='100010', churn=0, churn_id=0),
 Row(artist='Josh Ritter', auth='Logged In', firstName='Darianna', gender='F', itemInSession=4, lastName='Carpenter', length=316.23791, level='free', location='Bridgeport-Stamford-Norwalk, CT', method='PUT', page='NextSong', registration=1538016340000, sessionId=31, song='Folk Bloodbath', status=200, ts=1539004195000, userAgent='"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"', userId='100010', churn=0, churn_id=0)]

# Feature Engineering
Once you've familiarized yourself with the data, build out the features you find promising to train your model on. To work with the full dataset, you can follow the following steps.
- Write a script to extract the necessary features from the smaller subset of data
- Ensure that your script is scalable, using the best practices discussed in Lesson 3
- Try your script on the full data set, debugging your script if necessary

If you are working in the classroom workspace, you can just extract features based on the small subset of data contained here. Be sure to transfer over this work to the larger dataset when you work on your Spark cluster.

# Modeling
Split the full dataset into train, test, and validation sets. Test out several of the machine learning methods you learned. Evaluate the accuracy of the various models, tuning parameters as necessary. Determine your winning model based on test accuracy and report results on the validation set. Since the churned users are a fairly small subset, I suggest using F1 score as the metric to optimize.

# Final Steps
Clean up your code, adding comments and renaming variables to make the code easier to read and maintain. Refer to the Spark Project Overview page and Data Scientist Capstone Project Rubric to make sure you are including all components of the capstone project and meet all expectations. Remember, this includes thorough documentation in a README file in a Github repository, as well as a web app or blog post.